[submodule "JobsCommand@Flutter"]
	path = JobsCommand@Flutter
	url = git@github.com:JobsKits/JobsCommand-Flutter.git
	branch = main
[submodule "JobsCommand@Gits"]
	path = JobsCommand@Gits
	url = git@github.com:JobsKits/JobsCommand-Gits.git
	branch = main
[submodule "JobsCommand@Others"]
	path = JobsCommand@Others
	url = git@github.com:JobsKits/JobsCommand-Others.git
	branch = main
[submodule "JobsCommand@iOS"]
	path = JobsCommand@iOS
	url = git@github.com:JobsKits/JobsCommand-iOS.git
	branch = main
[submodule "JobsMockTool"]
	path = JobsMockTool
	url = git@github.com:JobsKits/JobsMockTool.git
	branch = main
[submodule "JobsSh"]
	path = JobsSh
	url = git@github.com:JobsKits/JobsSh.git
	branch = main
[submodule "SourceTree.sh"]
	path = SourceTree.sh
	url = git@github.com:JobsKits/SourceTree.sh.git
	branch = main
